<div class="about-container">
  <h1>Hi, I’m {{ name }}</h1>
  <p>{{ bio }}</p>
<div>
  <h2>My Skills:</h2>
  <ul id="skills-list">
    <li *ngFor="let skill of skills">{{ skill }}</li>
  </ul>
</div>

<div>
  <h2>Tea Time</h2>
  <iframe
  frameborder="0"
  src="https://itch.io/embed-upload/12796360?color=b2dca8"
  allowfullscreen
  width="640"
  height="380"
></iframe>
  <p> Tea Time was a project that I worked on to get better at the Godot Engine.
      A lot of the work involved learning how the game engine worked and getting better at game design as a whole.
      I learned about scene management, scripting, and the importance of playtesting. As well as design patterns like
      singletons and factories</p>
  <a href="https://mybiss.itch.io/tea-time">Play Tea Time on itch.io</a>
</div>

  <h2>Connect with me:</h2>
  <span id="links-list">
    <ng-container *ngFor="let link of links; let last = last">
      <a [href]="link.url" target="_blank" rel="noopener noreferrer">
        {{ link.label }}
      </a><span *ngIf="!last"> | </span>
    </ng-container>
  </span>
</div>